@model R.EN.UserR

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>UserR</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreR" class="control-label"></label>
                <input asp-for="NombreR" class="form-control" />
                <span asp-validation-for="NombreR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApellidoR" class="control-label"></label>
                <input asp-for="ApellidoR" class="form-control" />
                <span asp-validation-for="ApellidoR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaNacimientoR" class="control-label"></label>
                <input asp-for="FechaNacimientoR" class="form-control" />
                <span asp-validation-for="FechaNacimientoR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SueldoR" class="control-label"></label>
                <input asp-for="SueldoR" class="form-control" />
                <span asp-validation-for="SueldoR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstatusR" class="control-label"></label>
                <input asp-for="EstatusR" class="form-control" />
                <span asp-validation-for="EstatusR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComentarioR" class="control-label"></label>
                <input asp-for="ComentarioR" class="form-control" />
                <span asp-validation-for="ComentarioR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
